/*
For the container, set display to a value of flex. You should see all 5 flexChild elements in a single row.

For the container, set the flex-direction to row-reverse. You should see the order of the items switch. Your final page should look like the image below:
 
Feel free to try the other flex-direction values as well (just be sure to change them back to row-reverse for the tests before submitting):

    column
    column-reverse
    row
*/
.flexChild {
    background-color: #66ABFF;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 30px;
    border: grey solid 1px;
    padding: 2em;
    margin: 10px;
}


.container {
    background-color: #5BD7A2;
    margin: 1rem;
    height: 50%;
    width: 100%;
    /* Write your code here */
    display: flex;
    flex-direction: row-reverse;
}
